POSTGRES_DB=metro
POSTGRES_USER=metro
POSTGRES_PASSWORD=metro
POSTGRES_HOST_PORT=5434

API_HOST_PORT=8080
ASPNETCORE_ENVIRONMENT=Production
DEVELOPER_ENVIRONMENTS=true

JWT_ISSUER=metro-core
JWT_AUDIENCE=metro-core-api
JWT_KEY=CHANGE_ME_GENERATE_WITH_openssl_rand_base64_48
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
